<div class="jumbotron">
    <h1>Classified Application Web API</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>*@
    <p><a href="/help" class="btn btn-primary btn-lg">Check API Calls &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Last Updated </h2>
        <p>15-Oct-2015 11:29:00 PM</p>
        @*<p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h2>When error occures ?</h2>
        <p>contact me at my email (badder.sammy@gmail.com)</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>LOG</h2>
        <h4>15-10-2015</h4>
        <ul>
            <li>Added some test calls</li>
        </ul>
        <h4>20-10-2015</h4>
        <ul>
            <li>Added authentication Basic dGVzdHVzZXI6UEBzc3cwcmQ= (testuser:P@ssw0rd)</li>
            <li>https://bms.syriatel.sy/API/SendSMS.aspx?job_name=TestMsg&user_name=Classified_N&password=P@123456&msg=1A2B3C&sender=Classified&to=963933238330;963991403075;</li>
            <li><a href="http://classifiedapp.gear.host/Help/ResourceModel?modelName=AdStatusList">AD Status List</a></li>
            <li><a href="http://classifiedapp.gear.host/Help/ResourceModel?modelName=AdTypeList">AD Type List</a></li>
        </ul>
    </div>
</div>
