<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="APISoap">
          <security mode="Transport" />
        </binding>
        <binding name="APISoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bms.syriatel.sy:7459/ui/API.asmx" binding="basicHttpBinding" bindingConfiguration="APISoap" contract="SyriatelWebService.APISoap" name="APISoap" />
    </client>
  </system.serviceModel>
</configuration>